/*Some CSS*/
* {margin: 0; padding: 0;}
body{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.magnify {height: 100%; width: 100%; margin: 0px; position: relative; cursor: none; overflow: hidden;}
.small{
    height: 100vh;
    width: 100%;
}
/*Lets create the magnifying glass*/
.large {
    background-size: 350%;
    width: 275px; height: 275px;
    position: absolute;
    border-radius: 100%;

    /*Multiple box shadows to achieve the glass effect*/
    box-shadow: 0 0 0 5px rgba(255, 255, 125, 0.85),
    0 0 5px 5px rgba(0, 0, 0, 0.25),
    inset 0 0 40px 2px rgba(0, 0, 0, 0.25);

    /*hide the glass by default*/
    display: none;
}

/*To solve overlap bug at the edges during magnification*/
.small { display: block; }

/* Popup box BEGIN */
p{
    font-size: 35px;
}
a{
    color: black;

}
.counter{
    font-size: 300px;
    position: absolute;
    color: aliceblue;
    top: 40%;
    left: 42%;
    text-shadow: 5px 5px 10px #555555;
    display: none;

}
.hover_bkgr_fricc{
    background:rgba(0,0,0,.4);
    cursor:pointer;
    display:none;
    height:100%;
    position:fixed;
    text-align:center;
    top:0;
    width:100%;
    z-index:10000;
}
.hover_bkgr_fricc .helper{
    display:inline-block;
    height:100%;
    vertical-align:middle;
}
.hover_bkgr_fricc > div {
    background-color: #fff;
    box-shadow: 10px 10px 60px #555;
    display: inline-block;
    height: auto;
    max-width: 601px;
    min-height: 150px;
    vertical-align: middle;
    width: 80%;
    position: relative;
    border-radius: 8px;
    padding: 20px 5%;
    line-height: 35px;
}

.popupCloseButton {
    background-color: #fff;
    border: 3px solid #999;
    border-radius: 8px;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    position: absolute;
    top: 80%;
    right: 20%;
    font-size: 35px;
    line-height: 55px;
    width: 150px;
    height: 70px;
    text-align: center;
}
.popupCloseButton:hover {
    background-color: #ccc;
}

.hover_bkgr_fricc1{
    background:rgba(0,0,0,.4);
    cursor:pointer;
    display:none;
    height:100%;
    position:fixed;
    text-align:center;
    top:0;
    width:100%;
    z-index:10000;
}
.hover_bkgr_fricc1 .helper{
    display:inline-block;
    height:100%;
    vertical-align:middle;
}
.hover_bkgr_fricc1 > div {
    background-color: #fff;
    box-shadow: 10px 10px 60px #555;
    display: inline-block;
    height: auto;
    max-width: 601px;
    min-height: 150px;
    vertical-align: middle;
    width: 80%;
    position: relative;
    border-radius: 8px;
    padding: 20px 5%;
    line-height: 35px;
}
.popupCloseButton1 {
    background-color: #fff;
    border: 3px solid #999;
    border-radius: 8px;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    position: absolute;
    top: 80%;
    right: 20%;
    font-size: 35px;
    line-height: 55px;
    width: 150px;
    height: 70px;
    text-align: center;
}
.popupCloseButton1:hover {
    background-color: #ccc;
}

/* Popup box BEGIN */